/.idea
/vendor
@*.*
~*.*
**/@*/
**/_notes/
.sass-cache/
*.css.map
/node_modules
uploads/*
assets/ContentBuilder/uploads/edit/*
assets/ContentBuilder/innovamgrpro/config.php
*.p12
*creatop*.json
/assets/ckfinder/*
.ckfinder
database.php
*/config/config.php
*/config/recaptcha.php
*/config/gapi.php
*/config/gapi4.php
src/temp
thumbs/*
log-*